:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 24px;
  list-style: none;
}

.gallery-item {
  position: relative;
  overflow: hidden;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.gallery-item::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(78, 117, 255, 0);
  transition: background 0.3s ease;
  pointer-events: none;
}

.gallery-item:hover .gallery-image {
  transform: scale(1.05);
}

.gallery-item:hover::after {
  background: rgba(78, 117, 255, 0.4);
}

.feedback-form {
  font-family: 'Montserrat', sans-serif;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

.feedback-form label {
  display: block;
  width: 100%;
  max-width: 360px;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: left;
}

.feedback-form input,
.feedback-form textarea {
  display: block;
  width: 100%;
  max-width: 360px;
  margin-top: 8px;
  padding-left: 8px;
  font: inherit;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: 0;
  transition: border-color 0.15s ease-in-out;
}

.feedback-form input:focus,
.feedback-form textarea:focus,
.feedback-form input:hover,
.feedback-form textarea:hover {
  border: 1px solid #000;
}

.feedback-form input:active,
.feedback-form textarea:active {
  border: 1px solid #808080;
}

.feedback-form input[type='email'] {
  height: 40px;
}

.feedback-form textarea {
  height: 200px;
  resize: none;
}

.feedback-form button {
  margin-top: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background-color: #4e75ff;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.feedback-form button:hover,
.feedback-form button:focus {
  background-color: #6c8cff;
}
